@charset "EUC-KR";

.cart-container {max-width: 1380px;}

@media (max-width: 1600px) {
  .cart-container {max-width: 1200px;}
}
.cart-list-subtotal-content{
	display:flex;
}
/*//////////////////////////////////////////////////////////////////
[ Shopping Cart Header ]*/
.icon-header-noti-header {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  text-align: center;

  display: block;
  position: absolute;
  top: -7px;
  right: 0;
  min-width: 15px;
  height: 15px;
  padding: 0 3px;
  background-color: #717fe0;
}

/*//////////////////////////////////////////////////////////////////
[ Table Shopping Cart ]*/

.wrap-shopping-cart-table {
  overflow: auto;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.shopping-cart-table {
  table-layout:fixed;
  border-collapse: collapse;
  width: 100%;
  min-width: 680px;
  border-bottom: 1px solid #dfdfdf;
}


.shopping-cart-table .table_head {
  border: 1px solid #dfdfdf;
}
.shopping-cart-table tr {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.shopping-cart-table .cart-checked {
  width: 8%;
  padding-left: 20px;
}

.shopping-cart-table .column-1 {
  width: 14%;
  padding-left: 10px;
}

.shopping-cart-table .column-2 {
  width: 20%;
  font-size: 15px;
}

.shopping-cart-table .column-3 {
  width: 19%;
  text-align: center;
  font-size: 16px;
}

.shopping-cart-table .column-4 {
  width: 20%;
  text-align: center;
}

.shopping-cart-table .column-5 {
  width: 19%;
  text-align: center;
  font-size: 16px;
}

.shopping-cart-table .table_row {
  height: 185px;
}
.shopping-cart-table .table_row2 {
  height: 80px;
}
.shopping-cart-table .table_row .cart-check {
	text-align: center;
    vertical-align: middle;
}

.shopping-cart-table .table_row td {
  padding-bottom: 20px;
}

.shopping-cart-table .table_row td.column-1 {
  padding-bottom: 30px;
}

.shopping-cart-table .table_head th {
  font-family: Poppins-Bold;
  font-size: 13px;
  color: #555;
  text-transform: uppercase;
  line-height: 1.6;
  padding-top: 15px;
  padding-bottom: 15px;
}

.shopping-cart-table td {
  font-family: Poppins-Regular;
  color: #555;
  line-height: 1.6;
}
.shopping-cart-table .table-product-option {
	height: 50px;
	padding-top: 10px;
  	padding-bottom: 10px;
	border-bottom: 1px solid #dfdfdf;
}
.shopping-cart-table .table-product-option .table-product-option-title {
  font-family: Poppins-Bold;
  font-size: 13px;
  color: #555;
  text-transform: uppercase;
}

.num-product-up-btn,
.num-product-down-btn {
  width: 45px;
  height: 100%;
  cursor: pointer;
}

