<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.team.mapper.AdminProductMapper">
	<select id="getList" resultType="org.team.domain.ProductVO">
		select *
		FROM product p1
		WHERE
		p1.product_id = (
		SELECT MIN(p2.product_id)
		FROM
		product p2
		WHERE
		p2.product_name = p1.product_name
		)
		and product_name
		like
		concat('%',
		#{cri.keyword}, '%')
		order by product_id desc
		limit
		#{cri.pageStart},
		#{cri.amount}
	</select>
		<select id="selectList" resultType="org.team.domain.ProductVO">
		SELECT p1.*
		FROM product p1
		<choose>
			<when test="#{vo.color_id == '99' or vo.size_id == '99'}">
				where category_id =
				(select code_name from code
				where
				code_id = "category_id"
				and code_category = #{vo.category_id})
				and p1.product_id = (
				SELECT MIN(p2.product_id)
				FROM
				product p2
				WHERE p2.product_name =
				p1.product_name
				)
			</when>
			<otherwise>
				WHERE
				category_id = (SELECT code_name
				FROM code
				WHERE code_id = 'category_id'
				AND code_category = #{vo.category_id})
				AND color_id = (SELECT code_name
				FROM code
				WHERE code_id = 'color_id'
				AND code_category = #{vo.color_id})
				AND size_id = (SELECT code_name
				FROM code
				WHERE code_id = 'size_id'
				AND code_category = #{vo.size_id})
				AND p1.product_id = (
				SELECT MIN(product_id)
				FROM product p2
				WHERE p2.product_name = p1.product_name)
				AND price BETWEEN #{row} AND #{high}
				AND product_name LIKE CONCAT('%', #{cri.keyword}, '%')
			</otherwise>
		</choose>

		<if test="sort == 'ASC'">
			ORDER BY price ASC
		</if>
		<if test="sort == 'DESC'">
			ORDER BY price DESC
		</if>
		LIMIT #{cri.pageStart}, #{cri.amount}
	</select>


	<select id="getTotal" resultType="int">
		select count(*) from product
		where size_id = (select code_name
		from code
		where code_id = "size_id"
		and code_name = "S"
		)
		and color_id = "black"
		order by price asc
	</select>
	<select id="selectTotal" resultType="int">
		<![CDATA[	select count(*) from product
		where category_id = ( select code_name
		from code
		where code_id = "category_id"
		and code_category = #{vo.category_id})
		and color_id = (select code_name
		from code
		where code_id="color_id"
		and code_category = #{vo.color_id})
		and size_id = (select code_name
		from code
		where code_id="size_id"
		and code_category = #{vo.size_id})
		and price between #{row} and #{high}
		order by
		]]>
		<choose>
			<when test="sort == 'ASC'">price ASC</when>
			<when test="sort == 'DESC'">price DESC</when>
			<otherwise>price ASC</otherwise>
		</choose>
		limit #{cri.pageStart}, #{cri.amount}
	</select>
	<select id="detail" resultType="org.team.domain.ProductVO">
		select * from product where
		product_id = #{id}
	</select>
	<insert id="register">
		insert into
		product(category_id,product_name,price,img,quantity,color_id,size_id)
		values(#{pVo.category_id},#{pVo.product_name},#{pVo.price},#{pVo.img},#{pVo.quantity},#{pVo.color_id},#{pVo.size_id})
	</insert>
	<update id="update">
		update product set
		category_id =
		#{pVo.category_id},product_name = #{pVo.product_name},price =
		#{pVo.price},img = #{pVo.img},quantity
		= #{pVo.quantity},color_id
		=#{pVo.color_id},size_id
		=#{pVo.size_id} where product_id =
		#{pVo.product_id}
	</update>
	<delete id="delete">
		delete from product where product_id = #{pVo};
	</delete>
</mapper>