<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.team.mapper.OrderMapper">
 	<!-- 오더리스트 -->
	<select id="orderList" resultType="org.team.mypage.orderDTO" >
	<![CDATA[
		select * from nahyun.order where delivery_id in (select delivery_id from delivery where member_id = #{id})
		]]>
	</select>
	
	<select id="orderListWithPaging" resultType="org.team.mypage.orderDTO" >
	<![CDATA[
		select * from nahyun.order where delivery_id in (select delivery_id from delivery where member_id = #{id}) limit #{cri.pageStart}, #{cri.amount} 
		]]>
	</select>
	<select id="getTotalOrderCount" resultType="int">
		select count(*) from nahyun.order where delivery_id in (select delivery_id from delivery where member_id = #{id})
	</select>
	
	<select id="deliveryPreparation" resultType="int">
		select count(*) from nahyun.order where status = 1 and delivery_id in (select delivery_id from delivery where member_id = #{id})
	</select>
	<select id="deliveryIng" resultType="int">
		select count(*) from nahyun.order where status = 2 and delivery_id in (select delivery_id from delivery where member_id = #{id})
	</select>
	<select id="deliveryComplete" resultType="int">
		select count(*) from nahyun.order where status = 3 and delivery_id in (select delivery_id from delivery where member_id = #{id})
	</select>
	
	
  </mapper>
