<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.team.mapper.POrderMapper">

	<select id="getOrderList" resultType="org.team.domain.OrderVO">
	<![CDATA[ 
		SELECT *
		FROM `order`
		WHERE member_id = #{member_id}
	]]>
	</select>
	<insert id="insertOrder" parameterType="java.util.List">
		INSERT INTO `order`(delivery_id,product_id,product_count,price,status)
		VALUES
		<foreach collection="list" item="order" separator=",">
			(#{order.delivery_id}, #{order.product_id}, #{order.product_count}, #{order.price}, '1')
	    </foreach>
	</insert>
	
  </mapper>
