<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.team.mapper.ProductMapper">
	<select id="getList" resultType="org.team.domain.ProductVO">
		select * from product
		where size_id = (select code_name
		from code
		where code_id = "size_id"
		and code_name = "S"
		)
		and color_id = "black"
		and product_name like concat('%', #{cri.keyword}, '%')
		order by price asc
		limit #{cri.pageStart}, #{cri.amount}
	</select>
	<select id="selectList" resultType="org.team.domain.ProductVO">
	<![CDATA[	select * from product
		where category_id = ( select code_name
		from code
		where code_id = "category_id"
		and code_category = #{vo.category_id})
		and color_id = (select code_name
		from code
		where code_id="color_id"
		and code_category = #{vo.color_id})
		and size_id = (select code_name
		from code
		where code_id="size_id"
		and code_category = #{vo.size_id})
		and price between #{row} and #{high}
		and product_name like concat('%', #{cri.keyword}, '%')
		order by
		]]>
		<choose>
			<when test="sort == 'ASC'">price ASC</when>
			<when test="sort == 'DESC'">price DESC</when>
			<otherwise>price ASC</otherwise>
		</choose>
		limit #{cri.pageStart}, #{cri.amount}
	</select>
	<select id="getTotal" resultType="int">
		select count(*) from product where size_id = (select code_name
		from code
		where code_id = "size_id"
		and code_name = "S"
		)
		and color_id = "black"
		order by price asc
	</select>
	<select id="selectTotal" resultType="int">
		<![CDATA[	select count(*) from product
		where category_id = ( select code_name
		from code
		where code_id = "category_id"
		and code_category = #{vo.category_id})
		and color_id = (select code_name
		from code
		where code_id="color_id"
		and code_category = #{vo.color_id})
		and size_id = (select code_name
		from code
		where code_id="size_id"
		and code_category = #{vo.size_id})
		and price between #{row} and #{high}
		order by
		]]>
		<choose>
			<when test="sort == 'ASC'">price ASC</when>
			<when test="sort == 'DESC'">price DESC</when>
			<otherwise>price ASC</otherwise>
		</choose>
		limit #{cri.pageStart}, #{cri.amount}
	</select>
	
	<select id="detail" resultType="org.team.domain.ProductVO">
		select * from product where product_id = #{id}
	</select>
	
	<!-- <insert id="postCart">
		insert into wish(product_id, member_id) values(
				(select product_id from product where product_name = #{pVo.product_name} and color_id = #{pVo.color_id} and size_id = #{pVo.size_id} ),
                (select id from member where id = #{mVo.id})
                )
	</insert> -->
	<insert id="postWish">
		insert into wish(product_id, member_id) values(
				(select product_id from product 
									where product_name = #{pVo.product_name} 
									and color_id = "black" 
									and size_id = "S" ),
                (select id from member 
                			where id = #{mVo.id})
                )
	</insert>
	<delete id="deleteWish">
		delete from wish where product_id = #{pVo.product_id} and member_id = #{mVo.id}
	</delete>
</mapper>