<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.team.mapper.SearchMapper">

	<select id="search" resultType="org.team.product.ProductVO">
	<![CDATA[ 
		SELECT
			    MIN(product_id) AS product_id,
			    MIN(category_id) AS category_id,
			    product_name,
			    MIN(price) AS price,
			    MIN(color_id) AS color_id,
			    MIN(size_id) AS size_id,
			    MIN(img) AS img,
			    MIN(quantity) AS quantity,
			    MIN(sell_count) AS sell_count
		FROM product
		WHERE product_name LIKE CONCAT('%', #{keyword}, '%')
		GROUP BY product_name;
	]]>
	</select>
</mapper>
